body {
  font-family: sans-serif;
}
#torres {
  display: flex;
  gap: 10rem;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
}
.input {
  width: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}
.input input {
  width: 100%;
  text-align: center;
  padding: 4px;
}
.input button {
  width: 100%;
  padding: 4px;
  background-color: #81e15a;
  border-radius: 5px;
  border: 2px solid #81e15a;
}
.input button:hover {
  background-color: #6ccf4c;
  border-color: #6ccf4c;
  cursor: pointer;
}
.torre {
  width: 15px;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-inline: 4px;
  background-color: #000;
}
.disk {
  height: 20px;
  margin: 1px 0;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 3px;
  text-wrap: nowrap;
  font-weight: bold;
}
